*{
    margin: 0;
    font-family: Arial;
    /* border: border-box; */
}

.navbar{
    height: 60px;
    background-color: #0F1111;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav-logo{
   height: 50px;
   width: 100px;  
}

.logo{
    background-image: url('images/Amazon-800x450-1.jpg');
    background-size:cover ;
    height: 50px;
    width : 100%;    
}

.border{
    border: 1.5px solid transparent;
}
.border:hover{
    border: 1.5px solid white;
}

/* box-2 */

.add-first{
    color: #cccccc;
    display: flex;
    font-size: 1rem;
    margin-left: 15px;

}

.add-second{
    color: white;
    font-size: 1rem;
    margin-left:3px;
    
}
.add-icon{
    display: flex;
}

/* box-3 */
.nav-search{
    display: flex;
    background-color: pink;
    margin-left: 15px;
    width: 700px;
    height: 40px;
    border-radius: 4px;
    /* justify-content: space-evenly; */
}
.nav-search:hover{
    border: 2px solid  hsl(39, 100%, 48%);
}

.search-select{
    background-color: #E6E6E6;
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;
    border: none;
    width: 50px;
    text-align: center;
}

.search-box{
    width: 100%;
    font-size: 1rem;
    border: none;
}

.search-icon{
    width: 53px;
    align-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: hsl(39, 88%, 56%);
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
    color:black;
}

/* box-3 */
.signin-span{   
    font-size: 0.7rem;
}

.signin-list{
    font-size: 0.85rem;
    font-weight: 700;    
}
/* box-4 */
.cart-icon i{
    font-size: 30px;
}

.nav-panal{
    height: 10px;
}

.panal{
    background-color: #232F3E;
    color: white;
    display: flex;
    height: 40px;
    align-items: center;
    justify-content:space-between;
    
}   
.panal-optios p{
    display: inline;
    width: 70%;
    font-size: 0.8rem;
    margin-right: 15px;
   
}

.panal-shopnow{
   font-size: 0.85rem;  
   font-weight: 600 ;
   margin-right: 10px;
}

.panal-all{
    font-size: 14px;
    font-weight: 750;
}

/* hreo-sectio  */

.hero-section{
  background-image: url('images/hero_image.jpg');
  height: 350px;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.hero-msg{
    background-color: white;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items:center;
    font-size: 0.85rem;
    width: 95%;
    margin-bottom: 20px;
}

.hero-msg a {
    color: #007185;
}

.shop-section{
    display: flex;
    justify-content: space-evenly;
    background-color: #cccccc;
    flex-wrap: wrap;
}

.box{
    height: 350px;
    width: 23%;
    background-color: white;
    padding: 20px 0 15px;
    margin-top: 10px;  
    
}

.box-img{
    height: 300px;
    background-size: cover;
    
}

.box-content{
    margin-left: 20px;
    margin-right: 20px;
    
}

.box-content p {
    margin-top: 10px;
    color: #007185;

}
.box-content  a {
    text-decoration: none !important;
}

/* foooter section */
.foot-panal1{
    height: 50px;
    display: flex;
    justify-content:center;
    align-items: center;
    color: white;
    background-color: #172536;
}
.foot-panal2{
    background-color:  #222f3d;
    color: white;
    height: 300px;
    display: flex;
    justify-content: space-evenly;

}
ul{
    margin-top: 20px;
}
ul  a{
    display: block;
    font-size: 0.8rem;
    margin-top: 10px;
    color: #DDDDDD;
}

.foot-panal3{
    height: 70px;
    background-color: #222f3d;
    border-top: 0.1px solid white;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.foot-logo{
    background-image: url('images/Amazon-800x450-1.jpg');
    background-size: cover;
    height: 50px;
    width: 100px;

}
.add-icon1{
    height: 40px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.add-second1{
   margin-left: 8px;
}

.border1{
    margin-left: 10px;
}
.foot-panal4{
    height: 80px;
    background-color: #0F1111;
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
   
    
}
.pages a{
    color: white;
    text-decoration: none;
    

}

.pages{
    margin-top: 20px;
}